:root {
    /* Brand Palette, use these colors for ImplicitEx Brand */
    --blue:     #0D1A2C;
    --white:    #F5F7FA;
    --teal:     #6699A1;
    --green:    #30B886;
    --grey:     #ADADAD;
    --gold:     #FFD35C; /* Form Fields Only */
    --red:      #A61818; /* Form Fields Only */
}

.page-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    width: 100%;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 1rem 0 1rem;
}

.brandmark-svg {
    width: clamp(80px, 18vw, 150px);
    margin: 0 auto 1.1rem auto;
}
.brandmark-svg svg {
    width: 100%;
    height: auto;
    display: block;
}
.wordmark-svg {
    width: clamp(180px, 90vw, 800px); /* Responsive sizing */
    margin: 0 auto 0.7rem auto;
}

.wordmark-svg svg {
    width: 100%;
    height: auto;
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
    font-family: 'Inter', Arial, sans-serif;
    color: var(--white);
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
}

body {
    background: var(--blue);
    color: var(--white);
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    display: flex;
}

@keyframes gradientShift {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

h1 {
    font-size: clamp(2rem, 4vw, 2rem);
    font-weight: 750;
    line-height: 1.2;
    margin: 40px auto 10px auto;
    max-width: 800px;
    padding: 0 1rem;
    color: var(--white);
}

#footer-placeholder {
    flex-shrink: 0;
}