<footer class="footer">
  <nav class="footer-links">
    <a href="/about.html">ABOUT</a>
    <span>&middot;</span>
    <a href="terms.html">TERMS</a>
    <span>&middot;</span>
    <a href="privacy.html">PRIVACY</a>
    <span>&middot;</span>
    <a href="legal.html">LEGAL</a>
    <span>&middot;</span>
    <a href="news.html">NEWS</a>
    <span>&middot;</span>
    <a href="mailto:connect@implicitex.com">CONTACT</a>
  </nav>

  <div class="social-icons">
    
    <a href="https://x.com/implicitex" rel="" target="_blank" width="20px">
      <img loading="lazy" src="/images/social/x.svg" class="social-icon" />
    </a>

    <a href="https://x.com/implicitex" rel="" target="_blank">
      <img loading="lazy" src="images/social/x.svg" />
    </a>

    <a href="https://x.com/implicitex" rel="" target="_blank">
      <img loading="lazy" src="images/social/x.svg" />
    </a>

    <a href="https://x.com/implicitex" rel="" target="_blank">
      <img loading="lazy" src="images/social/x.svg" />
    </a>

    <a href="https://x.com/implicitex" rel="" target="_blank">
      <img loading="lazy" src="images/social/x.svg" />
    </a>

    <a href="https://x.com/implicitex" rel="" target="_blank">
      <img loading="lazy" src="images/social/x.svg" />
    </a>
    
  </div>
        
  </div>
  <div class="copyright">&copy; ImplicitEx <span id="year"></span></div>
  <script>document.getElementById("year").textContent = new Date().getFullYear();</script>
</footer>